<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Fitness Tracker App</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  
  
  <!-- <link rel="stylesheet" type="text/stylesheet" href="css/style.css"> -->
  <style type="text/css">
      body {
    background-color: #d9d9d9;
  }

  main {
    /*height: 775px;*/
    width: 60%;
    background-color: #eee;
    margin: 0 auto;
    font-family: Josefin Sans;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }

  nav {
    height: 75px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }

  img {
    margin: 0 15px;
  }

  .card-container {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    height: 85%;
    width: 28%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #myChart {
    height: 150px;
    width: 100%;
  }

  .class-card-container {
    /*height: 350px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .class-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }

  h1,
  h2,
  h3
  {
    color: #333;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .class-headers a {
    text-decoration: none;
    background-color: #e91e63;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  .class-listing {
    /*height: 20%;*/
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #e91e63;
    background-color: #e91e63;
    background-color: #e91e63;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
    margin: 10px auto;
  }

  .class-listing h4 {
    color: #fff;
    margin: 0 0 0 15px;
  }

  .class-listing p {
    margin: 0 0 0 15px;
    color: #fff;
  }

  footer {
    height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }
  </style>

  <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
</head>

<body>

      <%     var innerBasics = JSON.parse(basics); %>
  <!-- https://dribbble.com/shots/3454589-Function-Page-in-a-Sport-App -->
<main> 

  <form>
    <input type="hidden" id="entries" value="<%= entries %>"/>
    <input type="hidden" id="basics" value="<%= basics %>"/>
  </form>

  <nav>
    
      <img src="https://maxcdn.icons8.com/windows10/PNG/32/Data/line_chart-32.png" title="Line Chart" width="32">
      <h1><%= innerBasics[0].name %>'s daily calorie report</h1>
      <a target="_blank" href="/register/<%= innerBasics[0].name %>"><img src="https://maxcdn.icons8.com/1em/PNG/32/Business/bar_chart-32.png" title="Edit Details" width="32"></a>
  
  </nav>
  
  <section class="card-container">
  
    <div class="card" >
      <h3>Today's Consumption</h3>
      <div style="font-size: 40px;" id="caldiv">0</div>
      <h3>Calories</h3>
    </div>
    
  </section>

  <section style="margin: 20px auto;"><center>Equivalent to</center></section>

  <section class="card-container">
  
    <div class="card" >
      <div style="font-size: 30px;" id="minsdiv">0</div>
      <h3>Minutes of walking</h3>
    </div>
    <div >
      
      <h3>Or</h3>
    </div>
    <div class="card" >
      <div style="font-size: 30px;" id="kmsdiv">0</div>
      <h3>Kilometers of walking</h3>
    </div>
    
  </section>
  
  <section class="card-container">
  
    <div>
      <div style="">At a 4.4km/h pace</div>
    </div>
    
  </section>

  <div id="myChart"></div>
  
  <section class="class-card-container">
  
    <div class="class-headers">
    
      <h2>History</h2>
      <a href="/main/<%= innerBasics[0].name %>/history" target="_blank">more</a>
    </div>
    <%     var innerEntries = JSON.parse(entries); %>
    <% var last8 = innerEntries.slice(0,8) %>
    <% for(var i=0;i<last8.length;++i) {%>
        <% var ts = new Date(parseInt(last8[i].time)); %>
          <div class="class-listing">
            <h4><%= last8[i].cal %> calories</h4>
            <p><%= last8[i].qty %> <%= innerBasics[0].pref %>s</p>
            <p><%= ts %></p>
          </div>
    <% }; %>
    
  </section>

  <footer>
 
  
  </footer>
  
</main>
  <script src='https://cdn.zingchart.com/zingchart.min.js'></script>

  

  <script  >
    

    var entries = JSON.parse(document.getElementById('entries').value);
    var basics = JSON.parse(document.getElementById('basics').value)[0];

    var days = [];
    var count = [];

    var currDate = new Date();
    currDate = currDate.getFullYear()+"/"+(currDate.getMonth()+1)+"/"+currDate.getDate();

    entries.forEach(function(entry){
      var tdate = new Date(parseInt(entry.time));
      var d = tdate.getFullYear()+"/"+(tdate.getMonth()+1)+"/"+tdate.getDate();
      if(days.indexOf(d)==-1){
        days.push(d);
        count.push(entry.cal);
      }else{
        var ind = days.indexOf(d);
        count[ind] += entry.cal;
      }
    });

    var last7 = days.slice(0,7);last7 = last7.reverse();
    var count7 = count.slice(0,7);count7 = count7.reverse();

    var todayCal = 0;
    if(days.indexOf(currDate)!=-1)
      todayCal = count[days.indexOf(currDate)];

    document.getElementById('caldiv').innerHTML = todayCal;

    var calpermin = (0.035*basics.weight) + ((0.799)/(basics.height/100))*0.029*basics.weight;
    var walkmin = (Math.ceil(todayCal/calpermin));
    var walkkm = Math.ceil((walkmin/60)*4.4);
    document.getElementById('kmsdiv').innerHTML = walkkm;
    document.getElementById('minsdiv').innerHTML = walkmin;

// ===========================================================================================
    ZC.LICENSE = ['7b185ca19b4be2cba68fdcd369c663a9'];

    var myConfig = {
      type: 'line',
      globals: {
        fontFamily: 'Josefin Sans'
      },
      plot: {
        aspect: 'spline',

      },
      plotarea: {
        margin: 'dynamic'
      },
      scaleX: {
        values: last7
      },
      scaleY: {
        visible: false
      },
      series: [
        {
          values: count7,
          marker: {
            backgroundColor: '#e91e63',
            size: '3'
          },
          lineColor: '#e91e63'
        }
      ]
    };

    zingchart.render({ 
      id: 'myChart', 
      data: myConfig,
      height: '100%',
      width: '100%'
    });
  </script>




</body>

</html>



<!-- var myConfig = {
      type: 'line',
      globals: {
        fontFamily: 'Josefin Sans'
      },
      plot: {
        aspect: 'spline',

      },
      plotarea: {
        margin: 'dynamic'
      },
      scaleX: {
        values: ["Mon", "Tue", "Wed", "Thurs", "Fri", "Sat", "Sun"]
      },
      scaleY: {
        visible: false
      },
      series: [
        {
          values: [350,220,370,190,250,340],
          marker: {
            backgroundColor: '#e91e63',
            size: '3'
          },
          lineColor: '#e91e63'
        }
      ]
    }; -->